@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary-light: var(--primary-light);
	--color-primary-dark: var(--primary-dark);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary-light: var(--secondary-light);
	--color-secondary-dark: var(--secondary-dark);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-paper: var(--paper);
	--color-stage-0: var(--stage-0);
	--color-stage-0-light: var(--stage-0-light);
	--color-stage-0-dark: var(--stage-0-dark);
	--color-stage-1: var(--stage-1);
	--color-stage-1-light: var(--stage-1-light);
	--color-stage-1-dark: var(--stage-1-dark);
	--color-stage-2: var(--stage-2);
	--color-stage-2-light: var(--stage-2-light);
	--color-stage-2-dark: var(--stage-2-dark);
	--color-stage-3: var(--stage-3);
	--color-stage-3-light: var(--stage-3-light);
	--color-stage-3-dark: var(--stage-3-dark);
	--color-stage-4: var(--stage-4);
	--color-stage-4-light: var(--stage-4-light);
	--color-stage-4-dark: var(--stage-4-dark);
	--color-stage-5: var(--stage-5);
	--color-stage-5-light: var(--stage-5-light);
	--color-stage-5-dark: var(--stage-5-dark);
	--color-stage-6: var(--stage-6);
	--color-stage-6-light: var(--stage-6-light);
	--color-stage-6-dark: var(--stage-6-dark);
	--color-stage-7: var(--stage-7);
	--color-stage-7-light: var(--stage-7-light);
	--color-stage-7-dark: var(--stage-7-dark);
	--color-stage-8: var(--stage-8);
	--color-stage-8-light: var(--stage-8-light);
	--color-stage-8-dark: var(--stage-8-dark);
	--color-stage-9: var(--stage-9);
	--color-stage-9-light: var(--stage-9-light);
	--color-stage-9-dark: var(--stage-9-dark);
	--color-stage-10: var(--stage-10);
	--color-stage-10-light: var(--stage-10-light);
	--color-stage-10-dark: var(--stage-10-dark);
}

@layer base {
	:root {
		--background: #e8e8e8;
		--foreground: #09090b;
		--card: #ffffff;
		--card-foreground: #09090b;
		--popover: #ffffff;
		--popover-foreground: #09090b;
		--primary: #ee7f02;
		--primary-foreground: #fef1e6;
		--primary-light: #ffda8f;
		--primary-dark: #a34200;
		--secondary: #292929;
		--secondary-foreground: #fafafa;
		--secondary-light: #666666;
		--secondary-dark: #0d0d0d;
		--muted: #f4f4f5;
		--muted-foreground: #71717a;
		--accent: #f4f4f5;
		--accent-foreground: #18181b;
		--destructive: #ef4444;
		--destructive-foreground: #fafafa;
		--border: #e4e4e7;
		--input: #e4e4e7;
		--ring: #18181b;
		--radius: 0.5rem;
		--paper: #bfbfbf;
		--stage-0: #8cc241;
		--stage-0-light: #d1e6b3;
		--stage-0-dark: #50800d;
		--stage-1: #908bc9;
		--stage-1-light: #d2d0ea;
		--stage-1-dark: #5e5987;
		--stage-2: #e20876;
		--stage-2-light: #f9b8d6;
		--stage-2-dark: #94054d;
		--stage-3: #eb6666;
		--stage-3-light: #f9d1d1;
		--stage-3-dark: #be2d2d;
		--stage-4: #f5a61c;
		--stage-4-light: #fcdbb3;
		--stage-4-dark: #a76b05;
		--stage-5: #2d8fd5;
		--stage-5-light: #a3d0f0;
		--stage-5-dark: #185b8b;
		--stage-6: #ea1e25;
		--stage-6-light: #f8b3b5;
		--stage-6-dark: #8d0e12;
		--stage-7: #183f95;
		--stage-7-light: #a3b6e0;
		--stage-7-dark: #0c204b;
		--stage-8: #f98e5f;
		--stage-8-light: #fddacb;
		--stage-8-dark: #c54d19;
		--stage-9: #9e9393;
		--stage-9-light: #dcd9d9;
		--stage-9-dark: #5c5656;
		--stage-10: #00a852;
		--stage-10-light: #b2e1ca;
		--stage-10-dark: #00180c;
	}

	.dark {
		--background: #09090b;
		--foreground: #fafafa;
		--card: #09090b;
		--card-foreground: #fafafa;
		--popover: #09090b;
		--popover-foreground: #fafafa;
		--primary: #ee7f02;
		--primary-foreground: #fef1e6;
		--primary-light: #ffda8f;
		--primary-dark: #a34200;
		--secondary: #292929;
		--secondary-foreground: #fafafa;
		--secondary-light: #666666;
		--secondary-dark: #0d0d0d;
		--muted: #27272a;
		--muted-foreground: #a1a1aa;
		--accent: #27272a;
		--accent-foreground: #fafafa;
		--destructive: #7f1d1d;
		--destructive-foreground: #fafafa;
		--border: #27272a;
		--input: #27272a;
		--ring: #d4d4d8;
		--paper: #bfbfbf;
		--stage-0: #8cc241;
		--stage-0-light: #d1e6b3;
		--stage-0-dark: #50800d;
		--stage-1: #908bc9;
		--stage-1-light: #d2d0ea;
		--stage-1-dark: #5e5987;
		--stage-2: #e20876;
		--stage-2-light: #f9b8d6;
		--stage-2-dark: #94054d;
		--stage-3: #eb6666;
		--stage-3-light: #f9d1d1;
		--stage-3-dark: #be2d2d;
		--stage-4: #f5a61c;
		--stage-4-light: #fcdbb3;
		--stage-4-dark: #a76b05;
		--stage-5: #2d8fd5;
		--stage-5-light: #a3d0f0;
		--stage-5-dark: #185b8b;
		--stage-6: #ea1e25;
		--stage-6-light: #f8b3b5;
		--stage-6-dark: #8d0e12;
		--stage-7: #183f95;
		--stage-7-light: #a3b6e0;
		--stage-7-dark: #0c204b;
		--stage-8: #f98e5f;
		--stage-8-light: #fddacb;
		--stage-8-dark: #c54d19;
		--stage-9: #9e9393;
		--stage-9-light: #dcd9d9;
		--stage-9-dark: #5c5656;
		--stage-10: #00a852;
		--stage-10-light: #b2e1ca;
		--stage-10-dark: #00180c;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
