@tailwind base;

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 91%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 32 98% 47%;
		--primary-foreground: 32 98% 97%;
		--primary-light: 44 100% 78%;
		--primary-dark: 25 100% 32%;
		--secondary: 0 0% 16%;
		--secondary-foreground: 0 0% 98%;
		--secondary-light: 0 0% 40%;
		--secondary-dark: 0 0% 5%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
		--paper: 0 0% 75%;
		--stage-0: 80 52% 51%;
		--stage-0-light: 80 52% 80%;
		--stage-0-dark: 80 43% 35%;
		--stage-1: 255 29% 61%;
		--stage-1-light: 255 29% 85%;
		--stage-1-dark: 255 21% 44%;
		--stage-2: 329 93% 46%;
		--stage-2-light: 329 93% 86%;
		--stage-2-dark: 329 87% 31%;
		--stage-3: 3 76% 66%;
		--stage-3-light: 3 76% 90%;
		--stage-3-dark: 3 62% 46%;
		--stage-4: 39 89% 53%;
		--stage-4-light: 39 89% 80%;
		--stage-4-dark: 39 92% 34%;
		--stage-5: 202 69% 51%;
		--stage-5-light: 202 69% 77%;
		--stage-5-dark: 202 70% 32%;
		--stage-6: 358 80% 51%;
		--stage-6-light: 358 80% 83%;
		--stage-6-dark: 358 78% 31%;
		--stage-7: 221 72% 34%;
		--stage-7-light: 221 72% 75%;
		--stage-7-dark: 221 68% 15%;
		--stage-8: 24 89% 67%;
		--stage-8-light: 24 89% 88%;
		--stage-8-dark: 24 72% 45%;
		--stage-9: 0 6% 60%;
		--stage-9-light: 0 6% 84%;
		--stage-9-dark: 0 6% 34%;
		--stage-10: 149 100% 33%;
		--stage-10-light: 149 44% 79%;
		--stage-10-dark: 149 89% 5%;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 32 98% 47%;
		--primary-foreground: 32 98% 97%;
		--primary-light: 44 100% 78%;
		--primary-dark: 25 100% 32%;
		--secondary: 0 0% 16%;
		--secondary-foreground: 0 0% 98%;
		--secondary-light: 0 0% 40%;
		--secondary-dark: 0 0% 5%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--paper: 0 0% 75%;
		--stage-0: 80 52% 51%;
		--stage-0-light: 80 52% 80%;
		--stage-0-dark: 80 43% 35%;
		--stage-1: 255 29% 61%;
		--stage-1-light: 255 29% 85%;
		--stage-1-dark: 255 21% 44%;
		--stage-2: 329 93% 46%;
		--stage-2-light: 329 93% 86%;
		--stage-2-dark: 329 87% 31%;
		--stage-3: 3 76% 66%;
		--stage-3-light: 3 76% 90%;
		--stage-3-dark: 3 62% 46%;
		--stage-4: 39 89% 53%;
		--stage-4-light: 39 89% 80%;
		--stage-4-dark: 39 92% 34%;
		--stage-5: 202 69% 51%;
		--stage-5-light: 202 69% 77%;
		--stage-5-dark: 202 70% 32%;
		--stage-6: 358 80% 51%;
		--stage-6-light: 358 80% 83%;
		--stage-6-dark: 358 78% 31%;
		--stage-7: 221 72% 34%;
		--stage-7-light: 221 72% 75%;
		--stage-7-dark: 221 68% 15%;
		--stage-8: 24 89% 67%;
		--stage-8-light: 24 89% 88%;
		--stage-8-dark: 24 72% 45%;
		--stage-9: 0 6% 60%;
		--stage-9-light: 0 6% 84%;
		--stage-9-dark: 0 6% 34%;
		--stage-10: 149 100% 33%;
		--stage-10-light: 149 44% 79%;
		--stage-10-dark: 149 89% 5%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
